  <%- include('partials/header') %>

    <div class="attendance-cards-wrapper">
      
      <% list.forEach(element => { %>
        <div class="student-card" id="<%= element.rollNo %>">
          <h2 class="student-name"><%= element.name %> </h2>
          <div class="buttons">
            <button class="btn btn-outline-primary" onclick="markPresent('<%= element.rollNo %>')" >Present</button>
            <Button class="btn btn-outline-danger" onclick="markAbsent('<%= element.rollNo %>')">Absent</Button>
          </div>
        </div>
      <% }) %>
    </div>

    <script>
      
      function markPresent(rollNo){
        document.getElementById(rollNo).style.display = "none"
      }
      function markAbsent(rollNo){
        document.getElementById(rollNo).style.display = "none"
      }
    </script>
  
  <%- include('partials/footer') %>
